<!DOCTYPE html>
<html>
<head>
  <title>Mycart</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="menuContainer">
	<div id="header">
		<img src="/assets/cart.png"/>&nbsp;&nbsp;&nbsp;<span style="color:#49AFCD;font-weight:bold;">Shopping Cart</span>

	</div>
</div><br><br>
<%= yield %>
 
</body>
</html>
